.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrc1YkT9N2TBBqawHo2G5BBi0oqvHFJC5h1A&usqp=CAU");
    background-size: cover;
    align-items: center;
}

.logInTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.loginForm>input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
}

.loginInput {
    margin: 10px;
    background-color: white;
    border: none;
    outline: none;
}

.loginBtn {
    background-color: teal;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    padding: 12px;
    border-radius: 12px;
    font-weight: 600;
}

.loginBtn:hover {
    background-color: gray;
    color: black;
}

.loginRegisterBtn {
    background-color: rgb(0, 128, 64);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    padding: 12px;
    border-radius: 12px;
    position: absolute;
    top: 60px;
    right: 20px;
    font-weight: 600;
    font-size: 16px;
}

.loginRegisterBtn:hover {
    background-color: gray;
    color: black;
}