.header {
    margin-top: 60px;
    background-color: white;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #666;
}

.titleSmall {
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.titleBig {
    position: absolute;
    top: 20%;
    font-size: 100px;
    color: #666666e6;
    text-shadow: 1px 1px 1px white;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 60px;
    object-fit: cover;
}