.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fef8f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid gray;
    border-bottom: 1px solid rgb(159, 157, 157);
    color: #222;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.sidebarImg {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.sidebarItem>p {
    padding: 30px;
}

.sidebarList {
    list-style: none;
    margin-bottom: 30px;
}

.sidebarlistItme {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarSocial a {
    font-size: 20px;
    margin-left: 10px;
    color: #222;
    cursor: pointer;
}